[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk.git
	ignore = dirty
[submodule "submodules/boost-cmake"]
	path = submodules/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
	ignore = dirty
